@import "tailwindcss";

#app {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #f7f9fc;
}

.bg-main {
  background-color: #f7f9fc;
}

.text-brand {
  color: rgb(73, 128, 236);
}

.h-dscreen {
  height: 100dvh;
}
